<h1>results</h1>

You've submitted this form <%= session[:number] %> times <br />
Name: <%= session[:name] %><br />
Location: <%= session[:location] %><br />
Favorite Language: <%= session[:fav] %><br />
Comment: <%= session[:comment] %>
